@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Overpass:wght@100&display=swap");
/* 
font-family: 'Arimo', sans-serif;
font-family: 'Overpass', sans-serif;
*/

body {
	margin: 0 auto;
	text-align: center;
	background-color: black;
	background-image: url("https://images.unsplash.com/photo-1576269567911-e2b32418dd34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	/* background: url("../img/rainy.jpg"); */
	background-size: cover;
	background-attachment: fixed;
}

header {
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.719);
	font-family: "Overpass", sans-serif;
	font-weight: 100;
}

header h1 {
	letter-spacing: 0.5rem;
}

header h1,
header h4 {
	color: white;
}

header .wi {
	color: rgba(226, 226, 226, 0.719);
}

.display {
	margin-top: 100px;
	font-size: 2.5em;
}

#city-name,
#temperature {
	color: white;
	font-family: "Overpass", sans-serif;
}

#temperature {
	font-family: "Arimo", sans-serif;
}

#city-search,
#search {
	outline: none;
	border: none;
	padding: 1em;
}

#search {
	font-family: "Arimo", sans-serif;
	font-size: 1em;
	color: white;
	margin-top: 1em;
	padding: 0.5em 1em;
	background: rgb(4, 89, 71);
	cursor: pointer;
}

#search:hover {
	filter: invert(90%) hue-rotate(100deg);
}

#temperature:hover {
	cursor: pointer;
}

.wi {
	color: white;
}

.dark {
	filter: drop-shadow(1px 4px 8px #000000bb);
	width: 20%;
	margin: 0 auto;
	opacity: 1;
}

#desc {
	font-family: "Arimo", sans-serif;
	color: white;
	padding: 10px 0;
}
i {
	padding-bottom: 30px;
	font-size: 1em;
}
.trans {
	transition: all 1s ease-out;
}

#icon {
	font-size: 2em;
}
